/* THIS IS THE MAIN STYLES I HAVE TO BE CAREFULL THIS STYLESHEET WILL APPLY TO ALL PAGES  */
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
}
.container {
  display: flex;
   background-image: url('../images/possible\ background.jpg'); 
  height: 100%;
  width: 100%;
  align-items: center;
  box-shadow: inset 250px -20px 100px 150px black;
  background-size: cover;
  filter: saturate(90%) sepia(10%);
  
}
.flag-image{
  width: 100%;
}


/* :not on the flag links */

a:not(.flag-link, .link-flag) {
  all: unset;
  visibility: hidden; /*text*/
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size: 200%;
  margin-left: 1rem;
  
}

.link-flag{
  visibility: visible !important;
  
  
}

/* BOrder on inner text */
a > span {
  border: 2px solid grey;
  
}

.container-element:hover a {
  visibility: visible;
}

.navbar {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  
}

.flag {
  margin-top: 5%;
  margin-left: 20%;
  
  width: 80%;
  cursor: pointer;
  border: 2px solid gray;
  opacity: 70%;
  z-index: 1000;
}


img {
  width: 100%;
  height: 100%;
}
/* Animation on flag when hover */
.navbar:hover .nav-container {
  opacity: 1;
  transition: ease-in 0.2s;
}
body:has(.iftar-box:hover) .iftar-image,
body:has(.sailing-box:hover) .sailing-image,
body:has(.ramadan-box:hover) .ramadan-image,
body:has(.food-box:hover) .food-image,
body:has(.zar-box:hover) .zar-image {
  visibility: visible;
  transition: ease-in 0.2s;
}

.nav-container {
  opacity: 0;
  margin-top: 10%;
  margin-left: 1%;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  
}
.container-element {
  height: auto;
  border-radius: 5% 50% 50% 5%;
  border-bottom: 1px solid black;
  border-left: 4px solid rgb(90, 39, 8);
   border-right: 3px solid rgba(142, 19, 19, 0.658); 
  background-size: 100%;
  cursor: pointer;
  height: 150px;
  box-shadow: inset 10px 10px 20px 10px rgba(0, 0, 0, 0.891);
  
}
/*setup images*/

.zar-box {
  background-image: url('../images/zar-music.webp');
  background-position: top;
  height:19%
}
.food-box {
  background-image: url('../images/food.jpg');
height:19%
}
.sailing-box {
  background-image: url('../images/sailing3.jpg.crdownload');
background-position: center;
height:19%
}
.ramadan-box {
  background-image: url('../images/ramadanPrayer.jpg');
  background-position: bottom;
height: 19%;
}
.iftar-box {
  background-image: url('../images/preparingIftar.jpeg');
height: 19%;
}

.navbar > .container-element > a,
img {
  /* max-height: 160px; */
  width: 100%;
  object-fit: cover;
}

.content-container {
  position: relative;
  /*background: blue;*/
  /* opacity: 20%; */
  height: 80%;
  width: 80%;
  margin-right: 100px;
  margin-left: 100px;
}
/* Images on hover */

.food-image,
.ramadan-image,
.sailing-image,
.iftar-image,
.zar-image {
  visibility: hidden;
  position: absolute;
  border-radius: 5%;
  border: 2px solid grey;
  
}
/* zar spesific */
.zar-image {
  top: 40%;
  left: 5%;
  width: 35%;
  height: 40%;
  cursor: pointer;
}
/* iftar image spesific */
.iftar-image {
  top: 10%;
  left: 5%;
  width: 27%;
  height: 40%;
}

/* food image spesific */
.food-image {
  top: 10%;
  left: 20%;
  width: 50%;
  height: 90%;
  border-radius: 50%;
 
  
}

/* sailing image spesific */
.sailing-image {
  top: 50%;
  left: 5%;
  width: 35%;
  height: 45%;
}

/* ramadan image spesific */
.ramadan-image {
  top: 31%;
  left: 25%;
  width: 28%;
  height: 50%;
  border-radius: 50%;
}

/*hoverstyle*/
.container-element:hover {
  box-shadow: inset 5px 5px 20px 5px rgba(249, 228, 185, 0.612);
transition: ease-in 0.2s;
}

.navbar:hover .content-container {
  background: green;
  height: 40000px;
}
@keyframes navbar-open {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotateX(80deg);
  }
  100% {
    opacity: 1;
  }
}
